<ion-header class="ion-no-border">
  <div class="header-container">
    <div class="header-content">
      <ion-buttons slot="start">
        <ion-back-button default-href="#" color="light"></ion-back-button>
      </ion-buttons>
      <ion-text>
        <h1>Nosotros</h1>
      </ion-text>
    </div>
  </div>
</ion-header>

<ion-content flex-column [fullscreen]="true">
  <div class="content-container">

    <div class="branding-section">
      <div class="logo-container-nosotros">
        <img src="assets/images/logo.png" alt="Insulix Logo" class="app-logo-img-small" />
        <ion-text color="dark">
          <h2 class="brand-name">INSULIX</h2>
        </ion-text>
      </div>
    </div>

    <div class="cards-list">

      <ion-card class="info-card">
        <ion-card-header>
          <ion-text color="primary">
            <h3>Misión</h3>
          </ion-text>
        </ion-card-header>
        <ion-card-content>
          <p>
            Transformar la gestión de la Diabetes Mellitus Tipo II en adultos mayores, pasando de un cuidado reactivo a uno
            predictivo.
          </p>
        </ion-card-content>
      </ion-card>

      <ion-card class="info-card">
        <ion-card-header>
          <ion-text color="primary">
            <h3>Visión</h3>
          </ion-text>
        </ion-card-header>
        <ion-card-content>
          <p>
            Ser la solución tecnológica para el cuidado de la diabetes, logrando disminuir significativamente los índices de
            hospitalización y mortalidad por complicaciones agudas, aspirando a un futuro donde la tecnología elimine las
            barreras de edad.
          </p>
        </ion-card-content>
      </ion-card>

    </div>
  </div>
</ion-content>