<ion-header class="ion-no-border">
  <div class="header-container">
    <div class="top-row">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>

      <ion-label class="doctor-name">
        Dr. {{ medicoLogueado?.nombre || 'Médico' }} {{ medicoLogueado?.apellido_paterno || medicoLogueado?.apellido_materno || '' }}
      </ion-label>

      <ion-avatar class="doctor-photo">
        <img [src]="medicoLogueado?.foto_url || ('https://ui-avatars.com/api/?name=' + (medicoLogueado?.nombre || 'U') + '+' + (medicoLogueado?.apellido_paterno || medicoLogueado?.apellido_materno || '') + '&background=0D8ABC&color=fff&size=500')" />
      </ion-avatar>
    </div>
  </div>
</ion-header>