<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="tab-monitoreo" href="/tabs/tab-monitoreo">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Monitoreo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-bienestar" href="/tabs/tab-bienestar">
      <ion-icon name="fitness"></ion-icon>
      <ion-label>Bienestar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-historial" href="/tabs/tab-historial">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>