<div class="header-container">
  <div class="header-content">
    <ion-buttons slot="start">
    <ion-back-button default-href="#" color="light"></ion-back-button>
  </ion-buttons>

    <h1>Configuración</h1>
  </div>
</div>

<div class="content-container">
  <div class="menu-list">

    <div class="menu-item">
      <div class="icon-box">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>
      <span class="label">Cuenta</span>
    </div>

    <div class="menu-item">
      <div class="icon-box">
        <ion-icon name="git-network-outline"></ion-icon> <!-- Using git-network as placeholder for Sensor flow -->
      </div>
      <span class="label">Sensor</span>
    </div>

    <div class="menu-item">
      <div class="icon-box">
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
      <span class="label">Notificaciones</span>
    </div>

    <div class="menu-item">
      <div class="icon-box">
        <ion-icon name="globe-outline"></ion-icon>
      </div>
      <span class="label">Idioma</span>
    </div>

    <div class="menu-item">
      <div class="icon-box">
        <ion-icon name="help-circle-outline"></ion-icon>
      </div>
      <span class="label">Ayuda y soporte</span>
    </div>

    <div class="menu-item delete-item">
      <div class="icon-box">
        <ion-icon name="trash-outline"></ion-icon>
      </div>
      <span class="label">Eliminar cuenta</span>
    </div>

  </div>
</div>